@media (max-width: 768px) {
    header {
        flex-direction: column;
        height: auto;
        padding: 10px;
        text-align: center;
        div {
            width: 100%;
            text-align: center;
            img {
                max-width: 180px;
            }
        }
        .menu-toggle {
            display: block;
        }
    
        .nav-menu {
            display: none;
            width: 100%;
            text-align: center;
            flex-direction: column;
        }
    
        .nav-menu ul {
            flex-direction: column;
            margin: 0;
            padding: 0;
            gap: 0.0125rem;
        }
    
        .nav-menu li {
            margin: 10px 0;
        }
    
        .nav-menu.show {
            display: flex;
        }
    }
    

    .banner {
        grid-template-areas:
        "img1"
        "img2"
        "titulo";
        grid-template-columns: 1fr;
        h1 {
            font-size: 28px;
        }
    }

    .overlay {
        width: 100%;
        padding: 5px;
    }

    .discografia {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    
    .fechas {
        width: 100%;
        flex-direction: column;
        img { 
            margin-top: 10px;
        }
        
    }
    .prensa img {
        max-width: 100%;
    }

}